$formFontSize: 14px;

.ratings-reviews {
  font: {
    family: helvetica;
  }
  padding: {
    left: 7vw;
    right: 7vw;
  }
  display: grid;
  grid-template-columns: 2fr 6fr;
  column-gap: 10px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.star-container {
  margin: {
    left: 1px;
    right: 1px;
  }
}

.average-rating {
  font: {
    size: 40px;
    weight: 550;
  }
}

.rating-breakdown-bar {
  margin: {
    bottom: 10px;
  }
}

.rating-breakdown {
  margin-top: 10px;
}

.review-tile-container {
  margin-bottom: 25px;
}

.review-tile {
  border: {
    bottom: 1px solid black;
  }
  padding: {
    top: 5px;
    bottom: 5px;
  }
  margin: 5px;
}

.review-tile-header {
  margin: {
    top: 32px;
    bottom: 10px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-tile-username-container {
  text-align: right;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.review-summary-heading {
  font: {
    size: 18px;
    weight: 550;
  }
  margin: {
    top: 12px;
    bottom: 12px;
  }
}

.review-tile-text-body {
  margin: {
    top: 12px;
    bottom: 12px;
  }
}

.review-recommend {
  margin: {
    bottom: 10px;
    top: 10px;
  }
}

.review-tile-header > .stars-container {
  display: inline-block;
}

.review-tile-img-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.review-tile-img {
  height: 100px;
  margin: {
    top: 10px;
    bottom: 10px;
    left: 5px;
    right: 5px;
  }
  cursor: pointer;
}

.review-tile-text-body + .button {
  cursor: pointer;
}

.show-more-reviews-btn {
  margin: {
    top: 25px;
    bottom: 25px;
  }
  font: {
    size: 20px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border: 1px solid black;
}

.show-more-reviews-btn:active,
.add-review-btn:active {
  outline: 2px solid blue;
}

.img-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
}

.img-modal-content {
  margin: 25%;
  height: 100%;
  width: 100%;
}

.img-modal-exit-btn {
  font: {
    size: $formFontSize;
  }
  display: span;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}

.modal-input {
  margin: {
    top: 5px;
    bottom: 5px;
  }
}

.add-review-btn {
  font: {
    size: 20px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 25%;
  padding: 15px;
  border: 1px solid black {

  }
}

$modalBgColor: skyblue;

.add-review-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
}

.review-modal-content {
  padding: 10px;
  font: {
    size: $formFontSize;
  }
  background: {
    color: white;
  }
  margin: 15%;
  > .stars-container {
    cursor: pointer;
    display: inline;
  }
}
