.container-1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 875px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  .tile {
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    scroll-snap-align: start;
    width: 200px;
    padding: 10px;
    margin: 10px;
  }
}

.related-image {
  margin: auto;
  width: 170px;
  height: 240px;
}

.tile .star-container {
  scroll-snap-align: none;
  width: auto;
  border: none;
  padding: auto;
  margin: {
    left: 1px;
    right: 1px;
  }
}

#container-2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 875px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  .tile {
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    scroll-snap-align: start;
    width: 200px;
    padding: 10px;
    margin: 10px;
  }
}
#modal {
  display: flex;
  clear: both;
  width: max-content;
  padding: 10px;
  align-items: flex-end;
  background-color: grey;
  border: 2px black solid;
  border-radius: 25px;
  h4 {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: auto;
  }
  h3 {
    border: 2px black solid;
    padding-left: 40px;
    padding-right: 40px;
  }
  ul {
    border: 2px black solid;
    padding: 40px;
  }
}

.head_related {
  margin-left: 15%;
}

.tile-parent {
  position: relative;
}

.star_icon_alt {
  position: absolute;
  top: 25px;
  right: 30px;
  color: white;
  font-size: 150%;
  border: 2px black solid;
  border-radius: 200px;
  background-color: black;
  padding: 2px;
  :hover {
    color: red;
  }
}

#close {
  position: absolute;
  :hover {
    color: red;
  }
}

#add-outfit-btn {
  height: 400px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
