#container-1 {
  display: flex;
  align-items: flex-end;
  div {
    border: 2px black solid;
    padding: 10px;
  }
}
#container-2 {
  display: flex;
  align-items: flex-end;
  div {
    border: 2px black solid;
    padding: 10px;
  }
}
#modal {
  display: flex;
  clear: both;
  width: fit-content;
  padding: 10px;
  border: 2px black solid;
  align-items: flex-end;
  h4 {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: auto;
  }
  h3 {
    border: 2px black solid;
    padding-left: 40px;
    padding-right: 40px;
  }
  ul {
    border: 2px black solid;
    padding: 40px;
  }
}

.head_related {
  margin-left: 200px;
}

.star_icon {
  position: absolute;
}
